body {
  background: #0b2434;
  padding: 20px;
  font-family: Karla, sans-serif;
}

main {
  background: #f5f5f5;
  margin: 0 auto;
  height: 100vh;
  max-height: 400px;
  max-width: 400px;
  padding: 34px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #2b283a;
  font-size: 1.625rem;
}

.game-instructions {
  text-align: center;
  max-width: 260px;
  color: #4a4e74;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.roll-button {
  margin-top: 26px;
  border: none;
  color: #ffffff;
  background: #5035ff;
  font-weight: bold;
  width: 92px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
}
