body {
  background: #0b2434;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

main {
  background: #f5f5f5;
  margin: 0 auto;
  height: 100vh;
  max-height: 400px;
  max-width: 400px;
  padding: 34px;
  border-radius: 10px;
}
